In [1]:
from QualQuan import Univariate
import pandas as pd 
import numpy as np

In [2]:
d=pd.read_csv("Placement.csv")

In [3]:
Qual,Quan=Univariate.QuanQual(d)

In [4]:
print(Qual,Quan)

['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status'] ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [5]:
describe=Univariate.descriptive(d,Quan)

In [6]:
describe

          sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean        108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median      108       67       65       66       71       62  265000
Mode          1       62       63       65       60     56.7  300000
Q1:25%     54.5     60.6     60.9       61       60   57.945  240000
Q2:50%      108       67       65       66       71       62  265000
Q3:75%    161.5     75.7       73       72     83.5   66.255  300000
99%      212.86       87    91.86    83.86       97  76.1142     NaN
Q4:100%     215     89.4     97.7       91       98    77.89  940000
IQR         107     15.1     12.1       11     23.5     8.31   60000
1.5rule   160.5    22.65    18.15     16.5    35.25   12.465   90000
Lesser     -106    37.95    42.75     44.5    24.75    45.48  150000
Greater     322    98.35    91.15     88.5   118.75    78.72  390000
Min           1    40.89       37       50       50    51.21  200000
Max         215     89.4     97.7       91       98    77.89  940000

In [8]:
freqTable=Univariate.freqTable(d,"hsc_p")

In [9]:
freqTable

    UniqueValues  Frequency  Relative_Frequency  Cum_Frequency
0          63.00         14            0.144330       0.144330
1          62.00         12            0.123711       0.268041
2          67.00          9            0.092784       0.360825
3          60.00          9            0.092784       0.453608
4          64.00          8            0.082474       0.536082
..           ...        ...                 ...            ...
92         49.80          1            0.010309       2.175258
93         60.80          1            0.010309       2.185567
94         89.83          1            0.010309       2.195876
95         66.60          1            0.010309       2.206186
96         91.00          1            0.010309       2.216495

[97 rows x 4 columns]

In [13]:
lesser,greater=Univariate.Outlier_col(describe,Quan)

In [15]:
lesser

['hsc_p']

In [16]:
greater

['hsc_p', 'degree_p', 'salary']

In [18]:
Univariate.replce_outlier(d,describe,lesser,greater)

D:\Hope AI\DataScience\Univariate\QualQuan.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col][data[col]<describe[col]["Lesser"]]= describe[col]["Lesser"]
D:\Hope AI\DataScience\Univariate\QualQuan.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col][data[col]>describe[col]["Greater"]]= describe[col]["Greater"]

In [21]:
describe=Univariate.descriptive(d,Quan)

In [23]:
describe

          sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean        108  67.3034  66.3347  66.3586  72.1006  62.2782  277649
Median      108       67       65       66       71       62  265000
Mode          1       62       63       65       60     56.7  300000
Q1:25%     54.5     60.6     60.9       61       60   57.945  240000
Q2:50%      108       67       65       66       71       62  265000
Q3:75%    161.5     75.7       73       72     83.5   66.255  300000
99%      212.86       87   91.129    83.86       97  76.1142     NaN
Q4:100%     215     89.4    91.15     88.5       98    77.89  390000
IQR         107     15.1     12.1       11     23.5     8.31   60000
1.5rule   160.5    22.65    18.15     16.5    35.25   12.465   90000
Lesser     -106    37.95    42.75     44.5    24.75    45.48  150000
Greater     322    98.35    91.15     88.5   118.75    78.72  390000
Min           1    40.89    42.75       50       50    51.21  200000
Max         215     89.4    91.15     88.5       98    77.89  390000

In [24]:
lesser,greater=Univariate.Outlier_col(describe,Quan)

In [25]:
lesser

[]

In [26]:
greater

[]